.navbar {
    background-color: #FAC8D0;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.container-logo {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
  }

.logo{
    height: 120px;
    padding: 10px;
    border-radius: 25px;
}

.header-link:hover{
    color: #9999d2;
    cursor: pointer;
}

.header-link{
    text-decoration: none;
    color: #000;
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item{
    list-style: none;
    margin-right: 20%;
}